# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Dataset
dataset/
*.zip

# Generated outputs
outputs/
backend/target/

# Python model checkpoints
*.pth
*.pt
*.ckpt

# Temporary files
*.tmp
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store